<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Portpholio</title>
</head>
<body>
<!--header-->
<header>
    <nav class="container">
        <div class="logo"></div>
        <button style="display: none"></button>
        <div class="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Work</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">testimonals</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
    </nav>
</header>
<!--content-->
<div class="container-fluid">
    <div class="row">
        <div class="wrapper">
            <div class="banner-section ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5 banner">
                            <h1>We Design and Develop</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt eligendi et excepturi facilis, laborum nam recusandae? Ad doloremque doloribus eum harum</p>
                            <button class="btn btn-contact">Contact us</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="about-section">
                <div class="about">
                    <h2>About Us</h2>
                    <div class="sub-about">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus aut dignissimos eos est excepturi illo necessitatibus nihil vel voluptates! Dolorem laudantium, temporibus. Ex maxime nemo officia possimus quam quis.</p>
                        <figure class="pd">
                            <img src="../img/s.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="skills-section">
                <div class="col-md-6"   >
                    <div class="wrrap-block">
                        <h2>Professional skills</h2>
                        <ul class="skills-list">
                            <li>
                                <span class="text-skills">UI/UX Design 90%</span>
                                <span class="line-skills">
                                    <span></span>
                                </span>
                            </li>
                            <li>
                                <span class="text-skills">Web Development 80%</span>
                                <span class="line-skills">
                                    <span></span>
                                </span>
                            </li>
                            <li>
                                <span class="text-skills">Marketing 70%</span>
                                <span class="line-skills">
                                    <span></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 skills-img"></div>
            </div>
            <div class="numbers-section">
                <div class="col-md-3 item-nums">
                    <figure>
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-md-3 item-nums">
                    <figure>
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-md-3 item-nums">
                    <figure>
                        <img src="" alt="">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <div class="col-md-3 item-nums">
                    <figure>
                        <img src="" alt="">
                        <figcaption>
                            <span>485</span>
                            <span></span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="work-section">
                <div class="wrrap-work container-fluid">
                    <div class="col-md-3 items-work">
                        <img src="../img/work/01.jpg" alt="">
                    </div>
                    <div class="col-md-3 items-work">
                        <img src="../img/work/02.jpg" alt="">
                    </div>
                    <div class="col-md-3 items-work">
                        <img src="../img/work/03.jpg" alt="">
                    </div>
                    <div class="col-md-3 items-work">
                        <img src="../img/work/04.jpg" alt="">
                    </div>
                    <div class="col-md-3 items-work">
                        <img src="../img/work/05.jpg" alt="">
                    </div>
                    <div class="col-md-3 items-work">
                        <img src="../img/work/03.jpg" alt="">
                    </div>
                    <div class="col-md-3 items-work">
                        <img src="../img/work/07.jpg" alt="">
                    </div>
                    <div class="col-md-3 items-work">
                        <img src="../img/work/08.jpg" alt="">
                    </div>

                </div>
                <button>Load more work</button>
            </div>
            <div class="services-section">
                <div class="col-md-4 items-serv"></div>
            </div>
            <div class="testimonials-section"></div>
            <div class="clients-section"></div>
            <div class="clients-section"></div>
            <div class="need-project-section">
                <form method="post">
                    <input type="text" name="name" placeholder="Your name">
                    <input type="email" name="email" placeholder="Your email">
                    <input type="text" name="title" placeholder="Your title">
                    <textarea name="txt_comment"></textarea>
                </form>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer>

</footer>

</body>
</html>