<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Slab" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <script src="../js/method.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Portfolio</title>
</head>
<body>
<!--header-->
<header id="home">
    <!--BANNER SECTION-->
    <div class="banner-section ">
        <nav class="container-fluid">
            <!--<div class="logo"></div>-->
            <button class="nav-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="nav-menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#test">testimonals</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 banner">
                    <h1>We Design and Develop</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci deserunt eligendi et excepturi facilis, laborum nam recusandae? Ad doloremque doloribus eum harum</p>
                    <button class="btn btn-contact" data-toggle="modal" data-target="#contactPopup">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</header>
<!--content-->
<div class="container-fluid">
    <div class="row">
        <div class="wrapper">
    <!--ABOUT SECTION-->
            <div id="about" class="about-section text-center">
                <div class="about">
                    <h2>About Us</h2>
                    <div class="sub-about">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus aut dignissimos eos est excepturi illo necessitatibus nihil vel voluptates! Dolorem laudantium, temporibus. Ex maxime nemo officia possimus quam quis.</p>
                        <figure class="pd">
                            <img src="../img/s.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
    <!--SKILLS SECTION-->
            <div class="skills-section flex-container-0 flex-wrap">
                <div class="col-lg-6 col-md-12">
                    <div class="wrrap-block">
                        <h2>Professional skills</h2>
                        <ul class="skills-list">
                            <li>
                                <span class="text-uper">UI/UX Design 90%</span>
                                <span class="line-skills">
                                    <span></span>
                                </span>
                            </li>
                            <li>
                                <span class="text-skills">Web Development 80%</span>
                                <span class="line-skills">
                                    <span></span>
                                </span>
                            </li>
                            <li>
                                <span class="text-skills">Marketing 70%</span>
                                <span class="line-skills">
                                    <span></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 skills-img"></div>
            </div>
    <!--NUMBER SECTION-->
            <div class="numbers-section flex-container-1 flex-wrap bg-a">
                <div class="col-md-3 item-nums">
                    <div class="text-content flex-container-1">
                        <span><i class="fas fa-briefcase"></i></span>
                        <div class="sub-text">
                            <p>548</p>
                            <p>Projects completed</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item-nums">
                    <div class="text-content flex-container-1">
                        <span><i class="far fa-clock"></i></span>
                        <div class="sub-text">
                            <p>1850</p>
                            <p>working hours</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item-nums">
                    <div class="text-content flex-container-1">
                        <span><i class="far fa-star"></i></span>
                        <div class="sub-text">
                            <p>612</p>
                            <p>positive feedback</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 item-nums">
                    <div class="text-content flex-container-1">
                        <span><i class="far fa-heart"></i></span>
                        <div class="sub-text">
                            <p>735</p>
                            <p>happy clients</p>
                        </div>
                    </div>
                </div>
            </div>
    <!--WORK PROJECT-->
            <div id="work" class="work-section">
                <div  class="swiper-container">
                    <div id="w_wrapp" class="wrrap-work swiper-wrapper">
                        <% if(file_work.length){ %>
                        <% file_work.forEach((item) =>{ %>
                            <div class="col-md-3 col-sm-6 items-work sw-item">
                                <img src="<%=item %>" alt="">
                            </div>
                        <% }) %>
                        <% } %>
                    </div>
                </div>
                <button class="btn load-more text-uper">load more work</button>
            </div>
    <!-- TESTIMONIALS SECTION-->
            <div id="test" class="testimonials-section flex-container-1 flex-wrap">
                <div class="col-lg-3 col-md-3 col-sm-12 ">
                    <div class="tech-wrapper">
                        <span><i class="far fa-gem"></i></span>
                        <p>UI/Ux design</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item-tsch">
                    <div class="tech-wrapper">
                        <span><i class="fas fa-code"></i></span>
                        <p>web dewelopment</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item-tsch">
                    <div class="tech-wrapper">
                        <span><i class="fas fa-mobile-alt"></i></span>
                        <p>app/mobile</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item-tsch">
                    <div class="tech-wrapper">
                        <span><i class="fas fa-gamepad"></i></span>
                        <p>game design</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item-tsch">
                    <div class="tech-wrapper">
                        <span><i class="fas fa-plane"></i></span>
                        <p>seo/marketing</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item-tsch">
                    <div class="tech-wrapper">
                        <span><i class="far fa-star"></i></span>
                        <p>photography</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item-tsch">
                    <div class="tech-wrapper">
                        <span><i class="fas fa-magic"></i></span>
                        <p>graphic design</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 item-tsch">
                    <div class="tech-wrapper">
                        <span><i class="fas fa-fill-drip"></i></span>
                        <p>illustration</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

            </div>
    <!-- WORK SECTIONS -->
            <div id="services" class="word-section bg-a text-center">
                <div class="swiper-container sw-c">
                    <div class="swiper-wrapper ">
                        <!--<div class="swiper-slide item-phrase flex-container-0">-->
                            <!--<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut cumque ex necessitatibus nisi officia ratione repellat voluptas? Beatae doloremque exercitationem laboriosam libero magnam nostrum placeat similique vel? Atque, non."</p>-->
                            <!--<p>Michel hopkins</p>-->
                        <!--</div>-->
                        <!--<div class="swiper-slide item-phrase flex-container-0">-->
                            <!--<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut cumque ex necessitatibus nisi officia ratione repellat voluptas? Beatae doloremque exercitationem laboriosam libero magnam nostrum placeat similique vel? Atque, non."</p>-->
                            <!--<p>Michel hopkins</p>-->
                        <!--</div>-->
                        <!--<div class="swiper-slide item-phrase flex-container-0">-->
                            <!--<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. At aut cumque ex necessitatibus nisi officia ratione repellat voluptas? Beatae doloremque exercitationem laboriosam libero magnam nostrum placeat similique vel? Atque, non."</p>-->
                            <!--<p>Michel hopkins</p>-->
                        <!--</div>-->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
    <!-- CLIENTS SECTUIN-->
            <div class="clients-section flex-container-0 flex-wrap">
                <% if(files_customer.length){%>
                    <% files_customer.forEach((file)=>{%>
                        <div class="col-lg-3 col-md-3 col-sm-12 client-item text-center">
                            <img src=" <%=file %> "alt="">
                        </div>
                    <% })%>
                <% }%>
            </div>
    <!-- NEAD-PROJECT SECTION-->
            <div id="contact" class="need-project-section text-center">
                <div class="project-form">
                    <h2>Need a Project?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi delectus dicta eaque expedita explicabo illo magni molestias, odit, porro qui quidem quisquam quos repellat rerum sed tempore totam voluptas, voluptatum.</p>
                    <form name="send" class="form_project flex-container-1 flex-wrap" method="post">
                        <input class="info" type="text" name="name" placeholder="Your name">
                        <input class="info" type="email" name="email" placeholder="Your Email">
                        <input class="info" type="text" name="title" placeholder="Your Title">
                        <textarea class="info" name="txt_comment" placeholder="Your Comment"></textarea>
                        <button class="btn btn-send text-center" type="submit">Send message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<footer class="container-fluid">
    <div class="footer-content">
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-12 text-center">
                <h2>Piroll Design, Inc</h2>
                <p style="color: #adadad;">Designed by ....</p>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-12 flex-container-1 text-center">
                <div class="info-item">
                    <ul style="padding-left: 0">
                        <li><a href="mailto:andrew@gmail.com">andrew@gmail.com</a></li>
                        <li><a href="tel:+380982583515">+38 (098) 258 35 15</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-3 col-md-3 col-sm-12 text-center">
                <div class="info-item flex-container-1">
                    <ul style="padding-left: 0">
                        <li><a href="">Projects</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Career</a></li>
                    </ul>
                    <ul>
                        <li><a href="">News</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Legals</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-12 social-netw text-center">
                <ul style="padding-left: 0">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<%- include("popup"); %>

<a class="up bg-a text-center" href="#home"><i class="fas fa-chevron-up"></i></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>