<!-- Modal -->
<div class="modal fade" id="contactPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <!--exampleModalCenterTitle-->
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Contact us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="send" class="form_project" method="post">
                    <input class="info" type="text" name="name" placeholder="Your name">
                    <input class="info i-two" type="email" name="email" placeholder="Your Email">
                    <input class="info" type="text" name="title" placeholder="Your Title">
                    <textarea class="info" name="txt_comment" placeholder="Your Comment"></textarea>
                    <button class="btn btn-send" type="submit">Send message</button>
                    <button type="button" class="btn btn-contact btn-close" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>