body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
a{ text-decoration: none; }
ul{list-style-type: none;}
img{max-width: 100%;}
.flex-container-0{
    display: flex;
    justify-content: center;
}
.flex-container-1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.flex-wrap{ flex-wrap: wrap;}
.text-uper{ text-transform: uppercase;}
.bg-a{ background: #10c9c3;  color: #fff;}
.up,.nav-btn{ display: none; }
/*nav-header*/
header{  width: 100%; }
nav{
    position: absolute;
    top:0;
    text-align: center;
}
.nav-menu{
    position: relative;
    margin: 1.5em;
}
.nav-menu ul li{
    padding: 0.7em;
    display: inline-block;
}
.nav-menu ul li a{
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
.nav-menu ul li a:hover, .nav-menu ul li a:active{ color: #10c9c3;}
.wrapper{ width: 100%; }
/*banner*/
.banner-section{
    display: flex;
    align-items: center;
    width: 100%;
    background: url('../img/banner1.png') no-repeat center;
    background-size: cover;
    height: 100vh;
}
.banner-section:before{
    width: 100%;
    height: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.banner p{
    margin: 2em 0;
    color: #fff;
}
.btn-contact, .btn-send{
    text-transform: uppercase;
    color: #fff;
    background: #10c9c3;
    padding: 1em 1.5em;
}
/*about*/
.about, .work-process-section{
    margin: 5em 0;
    text-align: center;
}
.sub-about{
    margin: 1em auto;
    width: 600px;
    max-width: 100%;
}
.sub-about p{ color: #979792; }
.pd img{  width: 300px;  }

/*skills*/
.skills-section{ background: #d1d1d01a; }
.skills-img{
    background: url("../img/01.jpg") no-repeat center;
    background-size: cover;
    height: auto;
}
.line-skills{
    display: block;
    width: 80%;
    height: 5px;
    background: #bfbfbf;
}
.line-skills span{
    display: block;
    height: 4px;
    background: #10c9c3;
}
.skills-list>li:first-child>.line-skills>span{ width: 90%;}
.skills-list>li:nth-child(2)>.line-skills>span{ width: 80%;}
.skills-list>li:nth-child(3)>.line-skills>span{ width: 70%;}
.skills-list li span{  margin: 1em 0; }
.wrrap-block{ margin: 15em 0 ; }
.wrrap-block h2{ margin: 2em; }
/*number*/
.wrrap-work{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.items-work{
     padding-right: 0px;
     padding-left: 0px;
    overflow: hidden;
}
.sw-item img,.items-work img{
    width: 100%;
    height: 103%;
    object-fit: cover;
}
.text-content{
    align-items: center;
    margin: 4em 0 4em 5em;
}
.text-content>span{ font-size: 45px; }
.sub-text{ margin:0 1.5em; }
.sub-text p:first-child{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}
.sub-text p:last-child{
    text-transform: uppercase;
    font-size: 16px;
}
.load-more{
    width: 100%;
    background: #eeeeee;
    color: #4e4e4e;
    outline: none;
    padding: 2em;
    font-weight: 700;
}
/*/////////////////////////////////////////////////////////////////*/
/*slider swaper*/
.swiper-container-s {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.item-phrase{
    align-items: center;
    flex-direction: column;
    padding: 10em;
}
.item-phrase p:first-child{
    font-weight: 500;
    font-size: 24px;
    margin: 2em;
}
.item-phrase p:last-child{
    font-weight: 200;
    text-transform: uppercase;
    font-size: 16px;
}
.sw-item{position: relative; }
.sw-item:hover:before{
    content: "\f06e";
    /*content: url("../img/eye-regular.svg");*/
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 2em;
    box-shadow: 0 0 0 10000px rgba(0,0,0,0.4);
}
.need-project-section p{
    color: #979792;
    width: 650px;
    max-width: 100%;
    margin: 2em auto;
}
/* time*/
.testimonials-section{
    background: #f5f5f5;
    padding: 1.5em 0;
}
.testimonials-section>div{
    text-align: center;
    margin: 1.5em 0;
}
.tech-wrapper{
    width: 300px;
    max-width: 100%;
    margin:0 auto;
}
.tech-wrapper>span{
    display: block;
    margin: .5em 0;
    font-size: 42px;
}
.tech-wrapper>p:nth-child(2){
    text-transform: uppercase;
    font-weight: 700;
}
.tech-wrapper>p:nth-child(3){ color: #979792; }
/*client*/
.clients-section{padding: 2em 0;}
/*need project*/
.need-project-section{background: #d1d1d01a;}
.project-form, .footer-content{padding: 5em 0;}
.form_project{
    align-items: center;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}
.form_project .info{margin: 1em 0;}
.info{
    border: none;
    padding: .7em;
}
.info:first-child, .info:nth-child(2){ width: 45%;}
.info:nth-child(2){ margin-left: 3.7em; }
.info:nth-child(3), .info:nth-child(4){ width: 100%;}
.info:nth-child(4){ height: 250px; }

/*footer */
footer{
    background: #000;
    color:#fff;
    position: relative;
}
.info-item ul li a, .social-netw ul li a{
    text-decoration: none;
    color: #adadad;
}
/*popup*/
.modal-content{
    background: #eeeeee;
}
.modal-title{
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.i-two{ margin-left: 2.5em !important; }
.btn-close{ margin-left: 2em; }

@media (min-width: 320px) and (max-width: 425px){
    .item-phrase p:first-child{font-size: 16px;}
    .item-phrase p:last-child{font-size: 14px;}
    .info:nth-child(3), .info:nth-child(4) {
        margin-left: 1em;
        margin-right: 1em;
    }
}
@media (min-width: 424px) and (max-width: 768px){
    .item-phrase{ padding: 2em;}
}
@media (min-width: 320px) and (max-width: 575px) {
    .swiper-container { width: 100%; }
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .item-phrase p:first-child { margin: 0; }
    .item-phrase {padding: 1em; }
    .up{
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 60px;
        font-size: 30px;
        margin: 1em;
    }
    .load-more{display: none; }
    .info:nth-child(2) { margin-left: 0.7em; }

}
@media (min-width: 320px) and (max-width: 768px){
    .nav-btn{
        display: block;
    }
    .nav-btn span{}
    nav{
        background: rgba(0,0,0,.7);
        z-index: 999;
    }
    .nav-menu ul{ padding-left: 0;}
    .nav-menu ul li{display: block;}
    .nav-menu ul li a{color: #fff;}

}
